# käännetyt tiedostot
*.o
*.obj
*.exe
*.out

# CAD / export
*.dxf

# jsonit
*.json

# build-kansiot
build/
build-qmake/
FoxBender_autogen/
Testing/
bin/
dist/

# cmake
CMakeFiles/
CMakeCache.txt
CMakeCache.txt.prev
cmake_install.cmake
Makefile
.cmake/

# qmake / qt generaattorit
.qmake.stash
moc_*.cpp
moc_predefs.h
ui_*.h
*.d

# binäärit / kirjastot
FoxBender
*.a

# editorit
.vscode/
.idea/
.qt/
.qtc_clangd/
.qtcreator/
*.pro.user

# käyttöjärjestelmä
.DS_Store
Thumbs.db
